@charset "UTF-8";

li {border: 1px solid;}

/* 1. padding의 방향별 지정법*/
.pt {padding-top: 30px;}
.pr {
	text-align: right;
	padding-right: 40px;
}
.pb {padding-bottom: 50px;}
.pl {padding-left: 60px;}

/* 2. padding의 값 갯수별 지정법 */
.p01 {padding: 1em;}
.p02 {padding: 1em 5em;}
.p03 {padding: 10em 5em 1em;}
.p04 {padding: 2em 30% 3em 10%;}

fieldset {padding: 2em;}

legend {padding: 0.5em 1em;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
}

input {padding: 0.5em 0.7em;}

.la01 {
	text-transform: uppercase;
	padding-right: 43px;
	}

button {
	text-transform: uppercase;
	padding: 10px 88px;
}

#photo {margin-top: 5em;}

img {width: 400px;
margin-left:50px;}

.pic01 {border: 24px outset #735382;
	padding: 70px;}
	
.pic02 {border: 1px solid;
	padding: 20px 20px 180px;
	border-radius: 3px; /* 모서리 라운딩 */
	box-shadow: 1px 2px 6px #333;
	}

.pic03 {border-radius: 50%;
	
}
.pic03:hover{border-radius: 4px;}

#pg-list {padding-top: 6em;
	padding-bottom:3em;
	text-align: center;}

a {background-color: #ccc;
	text-decoration: none;
	padding: 12px 14px;
}

a:hover {font-weight:bold;}
	