@charset "UTF-8";
/* style.css는 수업시간 공용 스타일 파일 */
h1 {
	background-color: #5ad;
	border-left: 12px solid #07b;
	padding: 14px;
	color: #fff;
}

h2 {
	background-color: #ccc;
	padding: 0.5em 0.8em;
	color: #335;
}

section {
	border: 4px solid #ccc;
	margin: 3em 1em;
	padding: 1em;
}