@charset "UTF-8";

body {
	/* 	background-color: #37a; */
	background-image: url("cat-8275147_640.jpg");
	/* 	background-repeat:no-repeat; */
	/* 	background-size: contain; */
	background-size: cover;
	/* 	background-position: 800px 500px; */
	background-attachment: fixed;
	font-size: 1.2em;
	text-shadow: 0 0 4px #fff; /* 가로 세로 퍼짐값 색상 */
	line-height: 2;
}

#ul02>li {
	margin-bottom: 1.7em;
}

/* background-attachment*/
#sec01 {
	background-color: #fff;
}

#sec01>p {
	border: 6px double #37a;
	width: 400px;
	height: 200px;
	margin-right: 20px;
	padding: 0.7em;
	overflow: auto;
	display: inline-block;
	background-image: url("car-7275386_640.jpg")
}

.sc {
	background-attachment: scroll;
}

.fx {
	background-attachment: fixed;
}

.lc { 
	background-attachment: local;
}